# copy this file as env and modify MYSQL* and BACKUPPATH to match YOUR setup
MYSQLHOST=localhost
MYSQLUSER=dolibarr
MYSQLPASSWORD=MySuperSecretPassword
MYSQLDB=dolibarr
DOCUMENTS=/var/lib/dolibarr/documents
BACKUPPATH=/path/to/backups
MAXBACKUP=3

